<% layout("layouts/boilerplate") %>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add campground</a>
    </div>
    <div class="container">
        <% for (let campground of campgrounds) { %>
            <div class="card" mb-3>
                <div class="row">
                    <img class="img-fluid" src="<%= campground.image %>" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <p><%= campground.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= campground.location %></small>
                        </p>
                        <div cla>
                            <a style="padding: 10px; margin-bottom: 0" class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>